* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Background color for the whole page */
}

.app {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mainHeading, .subHeading {
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.input input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input i {
  margin-left: 10px;
  cursor: pointer;
  color: #007bff;
  font-size: 1.2em;
}

.todos {
  margin-top: 20px;
}

.todo {
  margin-top: 0.8em;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.todo .left {
  display: flex;
  align-items: center;
}

.todo .left p {
  margin-left: 10px;
  font-size: 1em;
  font-weight: 700;
  color: grey;
}

.todo .right {
  display: flex;
  align-items: center;
}

.todo .right i {
  cursor: pointer;
  color: #ff0000;
  font-size: 1.2em;
}